nav .container {
  width: 100%;
}

button.navbar-toggler.navbar-toggler-right:hover {
  border-color: rgba(255,255,255, 0.1)
}

a.nav-link {
  padding: 8px;
}

a.nav-link:hover{
  background-color:grey;
}

button.navbar-toggler.navbar-toggler-right:focus {
  outline: #fff auto 5px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .border-right {
    border-right:1px solid black;
  }
}


/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
