<!--
Angular GNB Toggle w/ Mobile & PC
1. [class.show]="show" -> Class 'show' Binding based on whether 'show' is true or false.
2. (click)="toggleCollapse()" -> Allows angular to toggle the navbar on click event
-->

<nav class="navbar navbar-toggleable-md navbar-light bg-inverse text-white">
  <a class="navbar-brand text-white" href="#" routerLink="/" (click)="onClickLogo()"><strong>GUM</strong></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collpase" id="navbarNavDropdown" (window:resize)="onResize($event)" [class.show] = "show">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/locations" (click)="toggleCollapse()">Locations</a>
      </li>
    </ul>
  </div>
</nav>
