<div class="row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <button class="btn btn-primary">Let's Request</button>
  </div>
</div>
<div class="row">
  <div class="card-columns col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="infinite-scroll" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScrollDown()">
      <div *ngFor="let item of items" class="card">
        <mdb-spinner *ngIf="item==null" spinnerType="big" spinnerColor="blue"></mdb-spinner>
        <!-- <img class="card-img-top img-fluid" src="..." alt="Card image cap"> -->
        <div class="card-block">
          <p class="card-text" >{{item.id}}</p>
          <h4 class="card-title" >{{item.title}}</h4>
          <p class="card-text">{{item.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
